# Laravel specific
/vendor/
/node_modules/
/public/hot
/public/storage
/storage/*.key
/storage/backups/
/storage/debugbar/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/
/storage/logs/
/storage/oauth-*.pem
/bootstrap/cache/*.php
.env
.env.backup
.phpunit.result.cache
homestead.yaml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.DS_Store
Thumbs.db

# Electron specific
/dist
/out
/build
*.dll
*.lib
*.dylib
*.so
*.pdb
*.pem
*.msi
*.exe
*.deb
*.rpm
*.snap
*.AppImage
*.dmg
*.pkg
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.tmp
*.temp
*.swp
*.swo
*~
~$*
.DS_Store
Thumbs.db
electron-builder.env
app-update.yml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.un~
.project
.settings/
*.sublime-workspace
*.sublime-project
.vscode/*
!.vscode/extensions.json
.idea
*.sublime-workspace
*.sublime-project
